<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lisy.dao.CostInvoicePicMapper" >
  <resultMap id="BaseResultMap" type="com.lisy.entity.CostInvoicePic" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.lisy.entity.CostInvoicePic" >
    insert into cost_invoice_pic (id, url)
    values (#{id,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lisy.entity.CostInvoicePic" >
    insert into cost_invoice_pic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>