<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lisy.dao.CostExpenseSubjectMapper" >
  <resultMap id="BaseResultMap" type="com.lisy.entity.CostExpenseSubject" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="expenseAcctId" property="expenseAcctId" jdbcType="BIGINT" />
    <result column="subjectId" property="subjectId" jdbcType="BIGINT" />
    <result column="expenseMoney" property="expenseMoney" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, expenseAcctId, subjectId, expenseMoney
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cost_expense_subject
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cost_expense_subject
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lisy.entity.CostExpenseSubject" >
    insert into cost_expense_subject (id, expenseAcctId, subjectId, 
      expenseMoney)
    values (#{id,jdbcType=BIGINT}, #{expenseAcctId,jdbcType=BIGINT}, #{subjectId,jdbcType=BIGINT}, 
      #{expenseMoney,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.lisy.entity.CostExpenseSubject" >
    insert into cost_expense_subject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="expenseAcctId != null" >
        expenseAcctId,
      </if>
      <if test="subjectId != null" >
        subjectId,
      </if>
      <if test="expenseMoney != null" >
        expenseMoney,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="expenseAcctId != null" >
        #{expenseAcctId,jdbcType=BIGINT},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="expenseMoney != null" >
        #{expenseMoney,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lisy.entity.CostExpenseSubject" >
    update cost_expense_subject
    <set >
      <if test="expenseAcctId != null" >
        expenseAcctId = #{expenseAcctId,jdbcType=BIGINT},
      </if>
      <if test="subjectId != null" >
        subjectId = #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="expenseMoney != null" >
        expenseMoney = #{expenseMoney,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lisy.entity.CostExpenseSubject" >
    update cost_expense_subject
    set expenseAcctId = #{expenseAcctId,jdbcType=BIGINT},
      subjectId = #{subjectId,jdbcType=BIGINT},
      expenseMoney = #{expenseMoney,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>